.site {
	max-width: 1230px;
	@extend .clear;
}
.sidebar {
	padding: 30px;
	background-color: map-get($scheme, 'sidebar-background');
	color: map-get($scheme, 'sidebar-text');

	a {
		color: inherit;
	}

	@include media($breakpoint) {
	    float: left;
	    position: fixed;
	    height: 100%;
	    width: 330px;
	    overflow: scroll;
	}
}

.site-content {
	max-width: 830px;
	background: map-get($scheme, 'content-background');
	color: map-get($scheme, 'content-text');

	@include media($breakpoint) {
	    margin-left: 330px;
	}
}

.content-area {
	padding: 15px;
}

.custom-logo-link {
	display: inline-block;
	margin-bottom: 10px;
}

.site-title {
	@include rem(font-size, 29px);
	font-weight: 900;
	margin: 0 0 0 0;
}

.secondary,
.site-header {
	@include media($breakpoint) {
		max-width: 270px;
	}
}

.site-footer {
	max-width: 670px;
	border-top: 2px solid #000;
	font-size: 12px;
	margin: 20px auto;
	padding-top: 20px;
}


.home {
	&.layout-odd {
		.site-main {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;

			flex-flow: row wrap;
			justify-content: space-between;
		}

		.hentry {
			position: relative;

			@include media(1000px) {
				-webkit-box-flex: 0 1 49%;
				-webkit-flex: 0 1 49%;
				-ms-flex: 0 1 49%;
				flex: 0 1 49%;
			}

			&:nth-child(3n+1) {
				-webkit-box-flex: 0 1 100%;
				-webkit-flex: 0 1 100%;
				-ms-flex: 0 1 100%;
				flex: 0 1 100%;
			}
		}
	}
}
