.site {
	max-width: 1230px;
	@extend .clear;
}
.sidebar {
	padding: 30px;
	background-color: map-get($scheme, 'sidebar-background');
	color: map-get($scheme, 'sidebar-text');

	a {
		color: inherit;
	}

	@include media($breakpoint) {
	    float: left;
	    position: fixed;
	    height: 100%;
	    width: 330px;
	    overflow: scroll;
	}
}

.site-content {
	max-width: 830px;
	background: map-get($scheme, 'content-background');
	color: map-get($scheme, 'content-text');

	@include media($breakpoint) {
	    margin-left: 330px;
	}
}

.content-area {
	padding: 15px;
}

.custom-logo-link {
	display: inline-block;
	margin-bottom: 10px;
}

.site-title {
	@include rem(font-size, 29px);
	font-weight: 900;
	margin: 0 0 0 0;
}

.secondary,
.site-header {
	@include media($breakpoint) {
		max-width: 270px;
	}
}

.site-footer {
	max-width: 670px;
	border-top: 2px solid #000;
	font-size: 12px;
	margin: 20px auto;
	padding-top: 20px;
}


.home,
.archive,
.search {
	&.layout-odd {
		.site-main {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;

			flex-flow: row wrap;
			justify-content: space-between;
		}

		.hentry {
			position: relative;

			@include media(1000px) {
				-webkit-box-flex: 0 1 49%;
				-webkit-flex: 0 1 49%;
				-ms-flex: 0 1 49%;
				flex: 0 1 49%;
			}

			&:nth-child(3n+1) {
				-webkit-box-flex: 0 1 100%;
				-webkit-flex: 0 1 100%;
				-ms-flex: 0 1 100%;
				flex: 0 1 100%;
			}
		}
	}

	&.layout-one-ex {
		.entry-meta {
			background: map-get($scheme, 'link-color');
			color: #fff;
			font-size: 10px;
			text-transform: uppercase;
			font-weight: bold;
			padding: 7px 10px;
			width: auto;
			display: inline-block;
			a {
				color: inherit;
			}
		}

		.content-wrap {
			max-width: 670px;
			border-bottom: 2px solid #000;
			padding-bottom: 40px;
			margin: 0 auto 40px auto;
		}

		.hentry:last-of-type {
			.content-wrap {
				margin-bottom: 0;
				border: none;
			}
		}

		.entry-content {
			margin: 0;
			p:last-child {
				margin-bottom: 0;
			}
		}

		.post-thumbnail {
			margin: 0;
		}

		.has-post-thumbnail {
			.content-wrap {
				margin-top: -15px;
			}
		}

		.entry-title {
			@include rem(font-size, 35px);
			line-height: 1;
			font-weight: 900;
			margin: 40px 0;
			cursor: pointer;

			@include media($breakpoint) {
				@include rem(font-size, 55px);
			}
		}

	}
}
