.sticky {
	display: block;
}

.post-tile {
	background-size: cover;
	background-position: center;
	background-color: #f0f0f0;
	position: relative;

	margin: 0 0 15px 0;
	overflow: hidden;
	padding-top: 50%;
	padding-bottom: 50px;
	min-height: 200px;
	max-height: 480px;

	.entry-header {
		position: absolute;
		bottom: 30px;
		width: 100%;
		padding: 0 30px;
	}

	&.has-post-thumbnail {
		color: #fff;
		a {
			color: inherit;
		}
	}

	&:not(.has-post-thumbnail) {
		color: #000;
		.entry-meta {
			color: #838383;
		}
		a {
			color: inherit;
		}
	}

	.link-overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(black, .26);
	}

	.entry-title {
		@include rem(font-size, 55px);
		line-height: 1;
		font-weight: 900;
		margin: 0 0 20px;
	}

	.entry-meta {
		display: inline-block;
		color: #fff;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content {
	@include rem(margin, 30px 0 40px);
	@include rem(font-size, 19px);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.single-post-cover {
	color: #fff;
}

.entry-content,
.post-navigation,
.comments-area,
.secondary-post-meta,
.entry-footer {
	max-width: 670px;
	margin-left: auto;
	margin-right: auto;
}

.entry-footer {
	@extend .clear;
	text-transform: uppercase;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 20px 0;
	font-size: 11px;
	font-weight: bold;
	&:empty {
		display: none;
	}

	a {
		color: inherit;
	}

	.tags-links {
		a {
			text-decoration: underline;
		}
	}

	.sharedaddy h3.sd-title {
		display: inline;
		padding-right: 10px;
	}

	.sharedaddy h3.sd-title:before {
		display: none;
	}

	.sd-content {
		display: inline;
	}

	.sd-content ul {
		display: inline;
	}

	.post-tags,
	.post-share {
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		margin-right: -.25em;
	}

	@include media($breakpoint) {
		.post-share {
			text-align: right;
		}
	}

	.full-span {
		margin-right: 0;
		width: 100%;
		text-align: left;
	}
}
